{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<section id="article">
    <h1>{{ post.title }}</h1>
    <div class="article">
        {{ post.content }}
    </div>
</section>

<section id="commentaires">
    <h2>Les commentaires</h2>
    {% for comment in post.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
        </div>
    {% endfor %}
</section>

<a href="{{ path('post') }}" class="btn-primary">Retour</a>


{% endblock %}
